trace
priorMDM
slurm

commends
notebook.txt

.vscode/launch.json
integration/data.hdf5
priorMDM/dataset/HumanML3D/animations


slurms/test_cuda/
trace/requirements.txt
trace/tbsim/utils/viz_utils.py
integration/outputs/singlessample00_rep00.mp4
integration/outputs/singlessample01_rep00.mp4
integration/outputs/singlessample02_rep00.mp4
integration/outputs/singlessample03_rep00.mp4
integration/outputs/singlessample04_rep00.mp4
integration/outputs/singlessample05_rep00.mp4
integration/outputs/singlessample06_rep00.mp4
integration/outputs/singlessample07_rep00.mp4
integration/outputs/multi/all_samples_default.mp4
integration/outputs/multi/all_samples_side.mp4
integration/outputs/multi/all_samples_top.mp4
integration/outputs/plots/trajectory_plot.png
integration/outputs/singles/singlessample00_rep00.mp4
integration/outputs/singles/singlessample01_rep00.mp4
integration/outputs/singles/singlessample02_rep00.mp4
integration/outputs/singles/singlessample03_rep00.mp4
integration/outputs/singles/singlessample04_rep00.mp4
integration/outputs/singles/singlessample05_rep00.mp4
integration/outputs/singles/singlessample06_rep00.mp4
integration/outputs/singles/singlessample07_rep00.mp4
integration/outputs/plots/trajectory_plot.png
integration/save/init_positions.npy
integration/save/synthetic_data.npy
integration/__pycache__/__init__.cpython-38.pyc
integration/outputs/singlessample00_rep00.mp4
integration/outputs/singlessample01_rep00.mp4
integration/outputs/singlessample02_rep00.mp4
integration/outputs/singlessample03_rep00.mp4
integration/outputs/singlessample04_rep00.mp4
integration/outputs/singlessample05_rep00.mp4
integration/outputs/singlessample06_rep00.mp4
integration/outputs/singlessample07_rep00.mp4
integration/outputs/plots/trajectory_plot.png
integration/save/init_positions.npy
integration/save/synthetic_data.npy
integration/src/__pycache__/__init__.cpython-38.pyc
integration/src/__pycache__/generate_plots.cpython-38.pyc
integration/src/__pycache__/generate_traces.cpython-38.pyc
priorMDM/assets/dt_csv_example.csv
priorMDM/assets/dt_text_example.txt
priorMDM/assets/two_person_text_prompts.txt
priorMDM/assets/ComMDM/example_capoeira.gif
priorMDM/assets/ComMDM/example_prefix.gif
priorMDM/assets/DoubleTake/doubleTake_example.gif
priorMDM/assets/Fine-tuned_motion_control/left_wrist_control_example.gif
priorMDM/assets/Fine-tuned_motion_control/left_wrist_right_foot_control_example.gif
priorMDM/assets/Fine-tuned_motion_control/root_control_example.gif
priorMDM/body_models/README.md
priorMDM/dataset/humanml_opt.txt
priorMDM/dataset/pw3d_opt.txt
priorMDM/dataset/pw3d_prefix_opt.txt
priorMDM/dataset/README.md
priorMDM/dataset/t2m_mean.npy
priorMDM/dataset/t2m_std.npy
